{% extends "base.html" %}

{% block content %}
    <h1>Редактировать пост</h1>
    <form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}<br>
        {{ form.title(size=40) }}
        {% for error in form.title.errors %}
            <br><span style="color:red">{{ error }}</span>
        {% endfor %}
    </p>

    <p>
        {{ form.body.label }}<br>
        {{ form.body(rows=5, cols=40) }}
        {% for error in form.body.errors %}
            <br><span style="color:red">{{ error }}</span>
        {% endfor %}
    </p>

    <p>
        {{ form.author.label }}<br>
        {{ form.author(size=40) }}
        {% for error in form.author.errors %}
            <br><span style="color:red">{{ error }}</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
    <p><a href="{{ url_for('main.index') }}">← На главную</a></p>

{% endblock %}
